 @import 
 url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

 body {
 	font-family: 'Nunito Sans', sans-serif;
 	font-size: 13px;
    font-weight: 500;

 }



.col-menu-body {
	
	margin: 0px ;
	padding: 0px ;
}
.image-about img{
	width: 150px;
	height: 150px;
}

.mt-menu h6 {
    padding-top: 26px;
    font-size: 18px;
}


.mt-menu
{
	position: fixed;
	background-color: #d3d3d34f;
	height: 100vh;
	width: 329px;
	overflow-y: scroll;

}

.mt-menu {
	text-align: center;
}
.mt-menu a{
	text-decoration: none;
	color: black;
	line-height: 29px

}
li {
	list-style-type: none;
}
.mt-menu :hover
{color: blue
}
.mt-menu ul :hover{
	text-decoration: underline;
}
.bgimg1
{
	position: relative;
	
	display: flex;
	padding: 0px;

}




.bgimg1::before{
    content: "";
    background: url(images/img_bg_1.jpg) no-repeat;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: auto;
    margin-left: 32px;
}
.row.body-1 {
    padding: 128px;
}
.bgimg1 span {
	position: relative;
	padding-top: 3rem;
	
}

h1, h2, h3, h4, h5, h6 {
	
	font-weight: bold;
  color: #000;
  font-family: 'Playfair Display', serif;
  }

  button{
  	border: 1px solid;
  }
.bgimg1 h1 {
	font-size: 60px;
}
.body-2 span {
	padding-top: 30rem;
	font-size: 15px
}

.body-2 h2 {
    padding: 0px 0px 70px 0px;
}
.icon-box {
	display: inline-block;
    height: 121px;
    width: 144px;
    margin: 10px;
    color: #2d57cbbf;
}

i.fa-regular.fa-lightbulb {
    font-weight: 100;
    font-size: 26px;
    height: 43px;
}

span.border.icon-box {
    padding: 23px 0px 0px 11px;
}
.icon-box p {
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.hire {
       background: #f9bf3f;
    height: 199px;
    width: 620px;
    padding: 20px 0px 0px 23px;
    margin: 54px 2px 0px 3px;
}


.hire p {
    font-family: 'Playfair Display';
    font-size: 31px;
    font-weight: 100;
}


.hire button {
	background-color: #f9bf3f;
    width: 91px;
    height: 29px;
    margin: 16px;
    font-size: 16px;
    font-weight: 600;
}




