

 body {
 	font-family: 'Quicksand', sans-serif;
 	font-size: 13px;
    font-weight: 500;

 }

.col-menu-body {
	
	margin: 0px ;
	padding: 0px ;
}
.image-about img{
	width: 150px;
	height: 150px;
}

.mt-menu h6 {
    padding-top: 26px;
    font-size: 18px;
}
.mt-menu ul {
	padding: 0px;
}


.mt-menu
{
	background-color: #d3d3d34f;
	height: 100vh;
	width: 317px;
	overflow-y: scroll;

}

.mt-menu {
	text-align: center;
}
.mt-menu a{
	text-decoration: none;
	color: black;
	line-height: 29px

}
li {
	list-style-type: none;
}
.mt-menu :hover
{color: blue
}

.mt-menu li :hover{
	text-decoration: underline;
}
.bgimg1
{
	position: relative;
	
	display: flex;
	padding: 0px;

	
}

.bgimg1::before{
    content: "";
    background: url(images/img_bg_1.jpg) no-repeat;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: auto;
    margin-left: 32px;
}

.bgimg1 span {
	position: relative;
	margin-top: 120px;
    padding-left: 80px;

}
h1, h2, h3, h4, h5, h6 {
	
	font-weight: bold;
  color: #000;
  font-family: 'Playfair Display', serif;
  }

  button{
  	border: 1px solid;
  }
.bgimg1 h1 {
	font-size: 60px;
}
